# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Functional-Assignments.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Created by https://www.toptal.com/developers/gitignore/api/fsharp
# Edit at https://www.toptal.com/developers/gitignore?templates=fsharp

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
.fake

# End of https://www.toptal.com/developers/gitignore/api/fsharp